@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&display=swap');



* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}

header {
    text-align: center;
    padding: 50px 10px 25px 10px;
    margin-top: -4px;
    background-image: url('https://cdn.pixabay.com/photo/2017/05/20/20/22/clouds-2329680_1280.jpg');
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    color: white;
    font-size: 1em;

}

header > h1 {
    text-shadow: 2px 2px 2px black;
    font-family: fjalla one, arial, sans-serif;
    font-size: 3em;
}

header > p {
    text-shadow: 2px 2px 2px black;
    font-family: josefin sans, arial, sans-serif;
    font-size: 1.5em;
    margin-top: 9px;
}

header > ul {
    list-style: none;
    padding: 20px 10px 24px 10px;
    margin-left: -1.3em;
}


.menu {
    text-decoration: none;
    color: white;
    display: flex;
    float: left;
    padding: 15px 20px 15px 20px;
    background-color: rgba(44, 117, 234, 0.636);
    font-family: fjalla one, arial, sans-serif;
    transition: all 1s;
}

.menu:hover {
    background-color: transparent;
    text-shadow: 2px 2px black;
}

#radius {
    border-radius: 0px 10px 0px 0px;
}

main {
    height: auto;
    text-align: center;
    font-weight: 1em;
}

main p {
    margin: 10px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
    font-size: 1.4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

main > h2 {
    display: block;
    margin-top: 40px;
    background-image: url('https://cdn.pixabay.com/photo/2017/05/20/20/22/clouds-2329680_1280.jpg');
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
    color: white;
    text-shadow: 4px 4px 4px black;
    padding: 20px 10px;
    margin: 30px auto;
    width: 80%;
    border-radius: 0px 10px 0px 10px;
    font-size: 1,5em;
    box-shadow: 2px 2px 2px black;

    
}

section > p {
    margin: 50px 0px 0px 0px;
    font-size: 1.1em;
}

#cidade {
    width: 100px;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

#botao {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

}

#resultado {
    background-color: #002759;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 30px;
    text-align: center;
    width: 70%;
    margin: 30px auto;
    border-radius: 9px;
    box-shadow: 5px 5px 10px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
    font-size: 0.8em;
}

.componentes {
    display: none;
    background-color: orange;
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 30px;
    text-align: center;
    width: 70%;
    margin: 30px auto;
    border-radius: 9px;
    box-shadow: 5px 5px 10px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
}

.city {
    display: block;
    background-color: #0062FF;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 30px;
    text-align: center;
    width: 70%;
    margin: 30px auto;
    border-radius: 9px;
    box-shadow: 5px 5px 10px black;
}

footer {
    background-color: rgb(0, 98, 255);
    font-size: 50%;
    text-align: center;
    padding: 10px;
    color: white;
}

.open {
    text-decoration: none;
    color: white;
}

.open:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.weatherIcon {
    width: 100px;
    padding: 10px 0px 0px 0px;
}