@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}

header {
    text-align: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 19px;
    border-bottom: 2px solid black;


    & h1 {
        height: 70px;
        text-align: left;
        position: relative;
        font-family: Righteous, Arial;
        color: black;
        padding: 20px;

        & a {
            text-decoration: none;
            color: inherit;
        }



    }

    & #menu-icon {
        float: right;
        position: relative;
        bottom: 25px;
        right: 15px;
        cursor: pointer;
    }

}

main {
    flex: 1;
    text-align: center;
    font-weight: 1em;
    font-family: poppins, Arial, Helvetica, sans-serif;
}

main p {
    margin: 10px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
    font-size: 1.4em;
    font-family: poppins, Arial, Helvetica, sans-serif;
}

main>h2 {
    display: block;
    background-color: #0062FF;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 30px;
    text-align: center;
    width: 70%;
    margin: 30px auto;
    border-radius: 9px;
    box-shadow: 5px 5px 10px black;
    transition: all 1s;
}

.textop {
    display: block;
    margin: 20px auto;
    font-size: 12px;
    background-color: #000000;
    width: 90%;
    max-width: 600px;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#cidade {
    height: 45px;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
}

#botao {
    height: 40px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    font-family: poppins, Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 1s;
    margin-top: 10px;
    border-radius: 5px;
}

#botao:hover {
    background-color: rgb(228, 226, 226);
}

.botao {
    padding: 10px;
    background-color: #200000;
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(247, 247, 247);
    box-shadow: 2px 2px 2px black;
    display: block;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;

}

.botao:hover {
    transform: translate(-2%, -5%);
    box-shadow: 6px 6px 6px black;
}


.error {
    font-family: poppins, Arial, Helvetica, sans-serif;
    margin: 5px;
    font-size: 0.8em;
    color: red;
}

#resultado {
    background-color: #00699a;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 30px;
    text-align: center;
    width: 80%;
    margin: 30px auto;
    border-radius: 9px;
    box-shadow: 0px 0px 10px black;
    font-family: poppins, Arial, Helvetica, sans-serif;
    display: none;
    font-size: 20px;
}

.componentes {
    display: block;
    background-color: rgb(215, 140, 1);
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 30px;
    margin: 20px auto;
    border-radius: 9px;
    box-shadow: 5px 5px 10px black;
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: 20px;

    .comps-inside {
        margin: auto;
        text-align: center;
    }
}

.nitrogen {
    margin-top: 20px;
    width: 80px;
}

.city {
    display: block;
    background-color: #d7edff;
    color: rgb(0, 0, 0);
    padding: 30px;
    text-align: center;
    width: 80%;
    margin: 30px auto;
    border-radius: 9px;
    box-shadow: 5px 5px 10px black;
    transition: all 1s;
}

.icone {
    width: 80px;
    margin-top: 20px;
}


.weatherIcon {
    width: 100px;
    max-width: 100px;
    margin-top: 5px;
}

#comps {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 15px auto 20px auto;
    width: 50%;
    border-radius: 0px 10px 0px 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    transition: 0.4s;
}

#dentro {
    font-size: 0.8em;
    margin: 15px auto 15px auto;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 13px;
    width: 80%;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.37);
    display: none;
}

#dentroaqi {
    margin: 15px auto 15px auto;
    background-color: #f0f6ff;
    color: rgb(0, 0, 0);
    padding: 13px;
    width: 80%;
    text-align: left;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    font-size: 16px;
}

.container2 {
    height: 100px;
    overflow: hidden;
    background-color: #ffffff;
    color: rgb(4, 4, 4);
    padding: 15px 0px;
    font-family: poppins, Arial, Helvetica, sans-serif;
    border: 2px solid black;
    width: 100%;
}

.duvidas {
    position: relative;
    bottom: 54px;

    & img {
        width: 80px;
        position: relative;
        top: 58px;
        right: 100px;
    }

    h3 {
        font-size: 22px;
    }

}

.duvida2 {
    position: relative;
    bottom: 80px;

    & h3 {
        font-size: 19px;
        position: relative;
        top: 50px;
    }

    & img {
        width: 80px;
        position: relative;
        display: block;
        margin: auto;
        top: 55px;
    }
}

.duvida3 {
    position: relative;
    bottom: 80px;

    & h3 {
        font-size: 19px;
        position: relative;
        top: 70px;
    }

    & img {
        width: 60px;
        position: relative;
        display: block;
        margin: auto;
        top: 67px;
    }
}



.bom {
    color: greenyellow;
    text-shadow: 1px 1px 2px black;
}

.ruim {
    color: red;
    text-shadow: 1px 1px 2px black;
}

.niveis1 {
    background-image: radial-gradient(#0b8100, 50%, #009700);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.3em;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.niveis2 {
    background-color: rgb(179, 33, 33);
    color: white;
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#comps:hover {
    transform: translate(-2%, -5%);
    box-shadow: 10px 10px 5px black;
}

#comps:active {
    background-color: #ffffff;
    color: rgb(1, 1, 1);
    padding: 20px;
    margin: 15px auto 20px auto;
    width: 50%;
    border-radius: 0px 10px 0px 10px;
    font-family: poppins, Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px 5px black;
    transform: translate(-2%, -5%);
}

footer {
    background-color: #ffffff;
    border-top: 4px solid #002351;
    padding: 20px;
    margin-top: auto;
}

footer>ul {
    display: flex;
    margin: 10px;
    list-style: none;
    margin: 0px auto 0px -10px;
}

footer>ul>li>a {
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    list-style: none;
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.limapfooter {
    text-align: left;
    float: left;
    font-size: 20px;
    font-family: poppins, Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 10px;


}

.limapfooter>a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.redes-sociais {
    text-align: center;

    ul {
        display: flex;
        margin: 0px 21px 0px 0px;
    }

    & a {
        list-style-type: none;
        color: black;
    }

    & ul,
    li {
        display: flex;
        justify-content: center;
        gap: 10px;

        & img {
            display: block;
            width: 40px;
            backdrop-filter: blur(20px);
            box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
            border: 1px solid rgba(255, 255, 255, 0.18);
            cursor: pointer;
            border-radius: 10px;
            transition: 0.5s;
        }

        & img:hover {
            transform: scale(1.1);
            backdrop-filter: blur(20px);
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.37);
            border: 1px solid rgba(250, 250, 250, 0.18);
            cursor: pointer;
        }
    }
}

.loading {
    margin-top: 15px;
    display: none;
}

.icon-temp {
    width: 20px;
}

.banner {
    img {
        width: 50px;
    }

    & h2, p {
        position:relative;
        bottom: 50px;
        font-size: 14px;
    

        margin-bottom: -50px;
    }
}