@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}

header {
    text-align: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1em;
    transition: 1s;
    border-bottom: 2px solid black;
    

    & h1 {
        text-align: left;
        position: relative;
        font-family: Righteous, Arial;
        color: black;
        padding: 20px;

        & a {
            text-decoration: none;
            color: inherit;
        }
    
    }

    
}

main {
    flex: 1;
    text-align: center;
    font-weight: 1em;
    font-family: poppins, Arial, Helvetica, sans-serif;
}

main p {
    margin: 10px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
    font-size: 1.4em;
    font-family: poppins, Arial, Helvetica, sans-serif;
}

main > h2 {
    display: block;
    background-color: #0062FF;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 30px;
    text-align: center;
    width: 70%;
    margin: 30px auto;
    border-radius: 9px;
    box-shadow: 5px 5px 10px black;
    transition: all 1s;
}

.textop {
    display: block;
    margin: 20px auto;
    font-size: 1em;
    background-color: #60a5ff;
    width: 70%;
    max-width: 600px;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#cidade {
    width: 100px;
    padding: 10.1px;
    text-align: center;
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    border: 2px solid black;
}

#botao {
    background-color: rgb(255, 255, 255);
    padding: 8.9px;
    font-family: poppins, Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 1s;
}

#botao:hover {
    background-color: rgb(228, 226, 226);
}

.botao {
    padding: 10px;
    background-color: #ffffff;
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px black;
    display: block;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    
}

.botao:hover {
    transform: translate(-2%, -5%);
    box-shadow: 6px 6px 6px black;
}


.error {
    font-family: poppins, Arial, Helvetica, sans-serif;
    margin: 5px;
    font-size: 0.8em;
    color: red;
}

#resultado {
    background-color: #002759;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 30px;
    text-align: center;
    width: 70%;
    margin: 30px auto;
    border-radius: 9px;
    box-shadow: 5px 5px 10px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
    font-size: 0.8em;
    transition: all 1s;
}

.componentes {
    display: block;
    background-color: rgb(215, 140, 1);
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 30px;
    text-align: center;
    width: 70%;
    margin: 30px auto;
    border-radius: 9px;
    box-shadow: 5px 5px 10px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    transition: all 1s;
}

.nitrogen {
    margin-top: 20px;
    width: 80px;
}

.city {
    display: block;
    background-color: #004bc3;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 30px;
    text-align: center;
    width: 70%;
    margin: 30px auto;
    border-radius: 9px;
    box-shadow: 5px 5px 10px black;
    transition: all 1s;
}

.icone {
    width: 80px;
    margin-top: 20px;
}

#cabecalho {
    background-color: rgb(0, 79, 205);
    font-size: 10px;
    text-align: center;
    padding: 11px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: 4px solid #002351;
}

.weatherIcon {
    width: 100px;
    max-width: 100px;
    margin-top: 5px;
}

#comps {
    background-color: #0256de;
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 20px;
    margin: 15px auto 20px auto;
    width: 50%;
    border-radius: 0px 10px 0px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: 0.4s;
}

#dentro {
    font-size: 0.8em;
    margin: 15px auto 15px auto;
    background-color: #014ec9;
    color: white;
    text-shadow: 3px 2px 2px black;
    padding: 13px;
    width: 80%;
    text-align: left;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    display: none;
}

#dentroaqi {
    margin: 15px auto 15px auto;
    background-color: #004ac1;
    color: white;
    text-shadow: 3px 2px 1px black;
    padding: 13px;
    width: 80%;
    text-align: left;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    font-size: 16px;
}

.container2 {
    height: 100px;
    overflow: hidden;
    background-color: #ffffff;
    color: rgb(4, 4, 4);
    padding: 15px;
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    border: 2px solid black;
    width: 100%;
}

.duvidas {
    position: relative;
    bottom: 54px;

    & img {
        width: 80px;
        position: relative;
        top: 58px;
        right: 100px;
    }

}

.duvida2 {
    position: relative;
    bottom: 80px;

    & h3 {
        font-size: 20px;
        position: relative;
        top: 40px;
    }

    & img {
        width: 80px;
        position: relative;
        display: block;
        margin: auto;
        top: 55px;
    }
}


.bom {
    color: greenyellow;
}

.ruim {
    color: red;
}

.niveis1 {
    background-color: rgb(102, 170, 0);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.3em;
    text-shadow: 3px 1px 2px black;
}

.niveis2 {
    background-color: rgb(216, 141, 2);
    padding: 10px;
    border-radius: 10px 0px 10px 10px;
    text-shadow: 3px 1px 2px black;
}

#comps:hover {
    transform: translate(-2%, -5%);
    box-shadow: 10px 10px 5px black;
}

#comps:active {
    background-color: #0256de;
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 20px;
    margin: 15px auto 20px auto;
    width: 50%;
    border-radius: 0px 10px 0px 10px;
    font-family: poppins, Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px 5px black;
    transform: translate(-2%, -5%);
}

footer {
    background-color: #004cc5;
    border-top: 4px solid #002351;
    padding: 20px;
    margin-top: auto;
}

footer>ul {
    display: flex;
    margin: 10px;
    list-style: none;
    margin: 0px auto 0px -10px;
}

footer>ul>li>a {
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 2px 2px 2px black;
    padding: 10px;
    list-style: none;
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.limapfooter {
    text-align: left;
    float: left;
    font-size: 20px;
    font-family: poppins, Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-top: -20px;
    
}

.limapfooter > a {
   text-decoration: none;
   color: white;
}
